body {
    background-image: url("../../assets/images/back3.png");
}

.jumbotron {
	text-align: center;
	background-color: transparent;
	color:white;
}

.thumbnail {
	border:none !important;
    background-color: transparent !important;
    box-shadow:none !important;
    text-align: center;
    color:white;
}
.player1 {
	border:green;
	border-radius: 2px;
	border-width: 10px;
}