@font-face {
    font-family: "GOTfont";
    src: url(../fonts/GOTfont.ttf);
}

body {
    background-image: url("../../assets/images/back3.png");
    font-family: "GOTfont";
}

p {
	font-family: "GOTfont";
}

.jumbotron {
	text-align: center;
	background-color: transparent;
	color:white;
}

.thumbnail {
	border:none !important;
    background-color: transparent !important;
    box-shadow:none !important;
    text-align: center;
    color:white;
}
.player1 {
	border:green;
	border-radius: 2px;
	border-width: 10px;
}
.battle {
	text-align: center;
}